<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email, "メール" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :profile_image, "プロフィール画像" %>
    <%= form.text_field :profile_image %>
  </div>
  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>