<div class="flex-container">
  <div class="user-profile-content">
    <div class="video-background">
    <video autoplay muted loop id="signup-video">
      <source src="<%= asset_path('signup_background.mp4') %>" type="video/mp4">
      お使いのブラウザはビデオをサポートしていません。
    </video>
  </div>
  <div class="user-profile">
    <div class="user-profile-image">
    <%= image_tag(@user.profile_image) if @user.profile_image.present? %>
    </div>
    <div class="user-info">
      <p class="user-name">名前: <%= @user.name %></p>
      <p class="user-email">メール: <%= @user.email %></p>
    </div>
  </div>
    <div class="calendar-container">
      <%= turbo_frame_tag 'calendar' do %>
        <%= month_calendar do |date| %>
          <%= date.day %></td>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

