<div class="flex-container">
  <div class="user-profile-content">
    <div class="video-background">
    <video autoplay muted loop id="signup-video">
      <source src="<%= asset_path('signup_background.mp4') %>" type="video/mp4">
      お使いのブラウザはビデオをサポートしていません。
    </video>
  </div>
  <div class="user-profile">
    <div class="user-info">
      <p class="user-name">name: <%= @user.name %></p>
      <p class="user-email">email: <%= @user.email %></p>
      <p class="user-level">Level: <%= @user.level %></p>
      <div class="level-up-gauge">
        <% 5.times do |i| %>
          <div class="gauge-block <%= 'filled' if i < (@user.posts.count % 5) %>"></div>
        <% end %>
      </div>

      <% if current_user == @user %>
        <%= link_to '編集', edit_user_path(@user), class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>

  </div>
    <div class="calendar-container">
        <%= month_calendar do |date| %>
          <%= date.day %></td>
        <% end %>
    </div>
  </div>
</div>

