<div class="post">
  <% if post.image.present? %>
    <%= image_tag(post.image.url) %>
  <% end %>

  <h3><%= link_to post.title, post_path(post), class: 'post-title' %></h3>
  <p><%= post.content %></p>

  <% if post.anonymous %>
    <p>投稿者: 匿名</p>
  <% else %>
    <p>投稿者: <%= post.user.email %></p>
  <% end %>

  <% if post.private %>
    <p>非公開</p>
  <% else %>
    <p>公開</p>
  <% end %>

  <% if post.tags_id.present? %>
    <p>タグID: <%= post.tags_id %></p>
  <% end %>

  <% if current_user == post.user %>
    <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-primary' %>
    <%= link_to '削除', post_path(post), "data-turbo-method": :delete, "data-turbo-confirm": '本当に削除する？', class: 'btn btn-sm btn-danger' %>
  <% end %>
</div>

