<div class="flex-container">
  <div class="post-form-content">
    <div class="video-background">
      <video autoplay muted loop id="post-form-video">
        <source src="<%= asset_path('board_index_background.mp4') %>" type="video/mp4">
        お使いのブラウザはビデオをサポートしていません。
      </video>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">

          <!-- 投稿詳細カード -->
          <div class="card mb-4">
            <h2></h2>
            <% if @post.image.present? %>
              <img class="card-img-top" src="<%= @post.image %>" alt="<%= @post.title %>">
            <% end %>
            <div class="card-body">
              <h1 class="card-title"><%= @post.title %></h1>
              <p class="card-text"><%= @post.content %></p>

              <p class="card-text"><small class="text-muted">Posted by <%= @post.user.email %> on <%= @post.created_at.strftime("%B %d, %Y") %></small></p>
            <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【Fail Share】%0a%0a#{ @post.content } ", target: '_blank' do %>
              <i class="fab fa-twitter" style='color: #3399FF;'></i>Xで共有
            <% end %>
            </div>
          </div>

          <div class="comments-section">
            <%= render 'comments/comments', { comments: @comments } %>
            <%= render 'comments/form', { post: @post, comment: @comment } %>
        </div>
      </div>
    </div>
  </div>
</div>
