<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <% if @post.image.present? %>
                <%= image_tag @post.image, class: 'card-img-top img-fluid', size: '300x200' %>
              <% end %>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @post.title %></h3>
              <%= render 'crud_menus', post: @post %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @post.user.decorate.full_name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@post.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>