<div class="flex-container">
    <div class="video-background">
      <video autoplay muted loop id="post-form-video">
        <source src="<%= asset_path('board_index_background.mp4') %>" type="video/mp4">
        お使いのブラウザはビデオをサポートしていません。
      </video>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">

          <div class="card mb-4">
            <h2></h2>
            <% if @post.image.present? %>
              <img class="card-img-top" src="<%= @post.image %>" alt="<%= @post.title %>">
            <% end %>
            <div class="card-body">
              <h1 class="card-title"><%= @post.title %></h1>
              <%= simple_format(@post.content, class: "card-text") %>

              <% if current_user == @post.user %>
                <%= link_to '編集', edit_post_path(@post), class: 'btn btn-sm btn-primary' %>
                <%= link_to '削除', post_path(@post), "data-turbo-method": :delete, "data-turbo-confirm": '本当に削除する？', class: 'btn btn-sm btn-danger' %>
              <% end %>

              <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【Fail Share】%0a%0a#{ @post.title } ", target: '_blank' do %>
                <i class="fab fa-twitter" style='color: #3399FF;'></i>Xで共有
              <% end %>

              <p class="card-text"><small class="text-muted">Posted by <%= @post.user.name %> on <%= @post.created_at.strftime("%B %d, %Y") %></small></p>
            </div>
          </div>

          <div class="comments-section">
            <%= render 'comments/comments', { comments: @comments } %>
            <%= render 'comments/form', { post: @post, comment: @comment } %>
        </div>
      </div>
    </div>
  </div>
</div>
