<!DOCTYPE html>
<html>
  <head>
    <title>File_Share</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'File_Share' %>" />
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'デフォルトの説明文' %>" />
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : asset_url('OGP画像.webp') %>" />
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>

    <%= yield %>
  </body>
</html>
