<!DOCTYPE html>
<html>
  <head>
    <title>Fail_Share</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= page_title(yield(:title)) %></title>
    <meta name="description" content="<%= full_description(yield(:description)) %>" />
    <meta property="og:url" content="https://fail-share.onrender.com" />
    <meta property="og:title" content="<%= page_title(yield(:og_title)) %>" />
    <meta property="og:description" content="「Fail Share」は、プログラミング学習中における失敗の投稿を通し、失敗に慣れ、挫折しにくいマインドを形成するサービスです。" />
    <meta property="og:image" content="<%= image_url "Fail_Share_OGP.webp" %>" />
    <meta name="twitter:card" content="Fail_Share_OGP.webp" />
    <meta name="twitter:site" content="@channana_00" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>

    <%= yield %>
  </body>
</html>
